<style>
	#description { text-align: center; width: 50%; padding: 5px; margin: 10px auto; background: #ccf; }
	#wrapper { width: 95%; margin: 0 auto; }
</style>

<center>
	<div id="description">This is a preview description.</div>
	
	<div id="wrapper">
		Tasks will be shown here! (This is just a preview)
	</div>
</center>

<!--
	If a choice is just a multiple-choice question using several buttons, put the same "name" attribute to all buttons with values, with their class names all "nano-submit".
	If there are other answer inputs, create hidden input tags with "nano-answer" for class, a key string for name, and a value string for value.
-->
