<b>This is a HIT for specified workers only to compensate them for unpaid reward in the past. </b>If you have not received any email notification from us, please return this HIT (no reward will be paid for completing this HIT).<br><br>

To our notified workers:<br>
<ul>
    <li>Please accept this HIT and just click "Submit" button to finish.</li>
    <li>Your reward for this HIT will be paid as a bonus -- please give us a moment of maximum 48 hours to send it to you.</li>
    <li>Reward amount will be calculated based on your history recorded in our database.</li>
    <li>If you have any question to us regarding this HIT, please contact <a href="mailto:mturk@pcl.cs.waseda.ac.jp">mturk@pcl.cs.waseda.ac.jp</a>.</li>
</ul>
